<h3 class="text-center text-2xl font-medium text-base-content">Newly Added Recipes</h3>
<div class="py-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 md:gap-8 md:justify-center size-auto">
    {% for new_recipe in new_recipes %}
    <a href="/recipe/{{new_recipe.id}}" class="bg-base-100 shadow-xl rounded-xl">
        <div>
            <img src="{{ url_for('static', filename=new_recipe.image) }}" class="rounded-t-xl aspect-square object-cover" alt="{{ new_recipe.name }}" />
        </div>
        <div class="p-5">
            <h2 class="text-lg font-semibold w-fit hover:underline hover:text-rose-500">{{ new_recipe.name }}</h2>
            <div class="my-3 text-sm">
                <span class="align-top">{{new_recipe.average_rating}}</span>
                <span class="rating rating-sm rating-half">
                    <input type="radio" name="rating{{loop.index}}" disabled class="rating-hidden cursor-default" value="0" {{ "checked" if new_recipe.average_rating >= 0 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="0.5" {{ "checked" if new_recipe.average_rating >= 0.5 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="1" {{ "checked" if new_recipe.average_rating >= 1 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="1.5" {{ "checked" if new_recipe.average_rating >= 1.5 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="2" {{ "checked" if new_recipe.average_rating >= 2 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="2.5" {{ "checked" if new_recipe.average_rating >= 2.5 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="3" {{ "checked" if new_recipe.average_rating >= 3 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="3.5" {{ "checked" if new_recipe.average_rating >= 3.5 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="4" {{ "checked" if new_recipe.average_rating >= 4 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="4.5" {{ "checked" if new_recipe.average_rating >= 4.5 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="5" {{ "checked" if new_recipe.average_rating == 5 }} />
                </span>
                <span class="align-top">({{new_recipe.total_ratings}})</span>
            </div>
        </div>
    </a>
    {% endfor %}
</div>