{% extends "template.html" %}

{% block title %}Recipes{% endblock %}

{% block main %}
<div class="flex flex-col items-center justify-center w-screen max-w-[2000px] mx-auto">
    <div class="p-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 lg:gap-12 md:justify-center">
        {% for recipe in recipes %}
        <a href="/recipe/{{recipe.id}}" class="bg-base-100 shadow-xl rounded-xl">
            <div>
                <img src="{{ '../' + recipe.image }}" class="rounded-t-xl aspect-square object-cover" alt="recipe" />
            </div>
            <div class="p-5">
                <h2 class="text-lg font-bold w-fit hover:underline hover:text-rose-500">{{recipe.name}}</h2>
                <div>
                    rating - *****
                </div>
            </div>
        </a>
        {% endfor %}
        
    </div>
    <div class="join my-10 w-fit mx-auto">
        <button class="join-item btn">«</button>
        <button class="join-item btn">1</button>
        <button class="join-item btn btn-active bg-accent text-accent-content">2</button>
        <button class="join-item btn">3</button>
        <button class="join-item btn btn-disabled">...</button>
        <button class="join-item btn">100</button>
        <button class="join-item btn">»</button>
    </div>
</div>
{% endblock %}