{% extends "template.html" %}

{% block title %}Recipes{% endblock %}

{% block main %}
<div class="flex flex-col items-center justify-center w-screen max-w-[2000px] mx-auto">
    <div class="p-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 lg:gap-12 md:justify-center">
        {% for recipe in recipes %}
        <a href="/recipe/{{recipe.id}}" class="bg-base-100 shadow-xl rounded-xl">
            <div>
                <img src="{{ url_for('static', filename=recipe.image) }}" class="rounded-t-xl aspect-square object-cover" alt="recipe" />
            </div>
            <div class="p-5">
                <h2 class="text-lg font-bold w-fit hover:underline hover:text-rose-500">{{recipe.name}}</h2>
            </div>
            <div class="p-3 text-sm">
                <span>{{recipe.average_rating}}</span>
                <span class="rating rating-sm rating-half">
                    <input type="radio" name="rating{{loop.index}}" disabled class="rating-hidden cursor-default" value="0" {{ "checked" if recipe.average_rating >= 0 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="0.5" {{ "checked" if recipe.average_rating >= 0.5 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="1" {{ "checked" if recipe.average_rating >= 1 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="1.5" {{ "checked" if recipe.average_rating >= 1.5 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="2" {{ "checked" if recipe.average_rating >= 2 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="2.5" {{ "checked" if recipe.average_rating >= 2.5 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="3" {{ "checked" if recipe.average_rating >= 3 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="3.5" {{ "checked" if recipe.average_rating >= 3.5 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="4" {{ "checked" if recipe.average_rating >= 4 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="4.5" {{ "checked" if recipe.average_rating >= 4.5 }} />
                    <input type="radio" name="rating{{loop.index}}" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="5" {{ "checked" if recipe.average_rating == 5 }} />
                </span>
                <span>({{recipe.total_ratings}})</span>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="my-5 text-sm">Showing {{ recipes.first }} - {{ recipes.last }} of {{ recipes.total }}</div>
    <div class="join w-fit mx-auto mb-10 drop-shadow-md">
        {% for page in recipes.iter_pages() %}
            {% if page %} 
                {% if page == recipes.page %}
                    <a class="join-item btn btn-sm btn-active bg-accent text-accent-content hover:bg-rose-700">{{ page }}</a>
                {% else %}
                    <a href="/recipes?page={{page}}" class="join-item btn btn-sm">{{ page }}</a>
                {% endif %}
            {% else %}
                <a class="join-item btn btn-sm btn-disabled">...</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}