{% extends "template.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block main %}
<div class="w-screen max-w-[2000px] mx-auto p-5 mb-10">
    <p class="text-center text-3xl font-bold mb-5">{{ recipe.name }}</p>
    <div class="flex flex-col lg:flex-row items-center lg:items-start gap-10 lg:gap-5 w-full">
        <div class="w-full">
            <img class="object-cover w-full sm:w-[400px] lg:w-[500px] h-72 lg:h-96 mx-auto rounded-xl drop-shadow-lg" src="{{ url_for('static', filename=recipe.image) }}" alt="pizza">
            <div class="mt-10 drop-shadow-lg bg-base-100 rounded-xl">
                <div class="h-2 bg-accent rounded-t-xl"></div>
                <div class="grid grid-rows-2 text-sm md:text-base">
                    <div class="p-3">
                        <span class="font-bold">Cook Time:</span>
                        <span class="hover:text-rose-500 ml-3 text-right">
                            {% if recipe.cook_time_hour %}
                                {{ recipe.cook_time_hour }}{{ " hour " if recipe.cook_time_hour == 1 else " hours "}}
                            {% endif %}
                            {% if recipe.cook_time_minute %}
                                {{ recipe.cook_time_minute }}{{ " minute" if recipe.cook_time_minute == 1 else " minutes"}}
                            {% endif %}
                        </span>
                    </div>
                    <div class="p-3">
                        <span class="font-bold">Servings:</span>
                        <span class="hover:text-rose-500 ml-3">{{ recipe.servings }}</span>
                    </div>
                    <div class="p-3">
                        <span class="font-bold">Total rating: </span>
                        <span class="hover:text-rose-500 ml-3">{{avg_rating}}</span>
                        <span class="rating rating-sm rating-half">
                            <input type="radio" name="rating" disabled class="rating-hidden cursor-default" value="0" {{ "checked" if avg_rating >= 0 }} />
                            <input type="radio" name="rating" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="0.5" {{ "checked" if avg_rating >= 0.5 }} />
                            <input type="radio" name="rating" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="1" {{ "checked" if avg_rating >= 1 }} />
                            <input type="radio" name="rating" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="1.5" {{ "checked" if avg_rating >= 1.5 }} />
                            <input type="radio" name="rating" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="2" {{ "checked" if avg_rating >= 2 }} />
                            <input type="radio" name="rating" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="2.5" {{ "checked" if avg_rating >= 2.5 }} />
                            <input type="radio" name="rating" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="3" {{ "checked" if avg_rating >= 3 }} />
                            <input type="radio" name="rating" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="3.5" {{ "checked" if avg_rating >= 3.5 }} />
                            <input type="radio" name="rating" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="4" {{ "checked" if avg_rating >= 4 }} />
                            <input type="radio" name="rating" disabled class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="4.5" {{ "checked" if avg_rating >= 4.5 }} />
                            <input type="radio" name="rating" disabled class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="5" {{ "checked" if avg_rating == 5 }} />
                        </span>
                        <span class="ml-3 text-sm">({{ratings_count}} {{ "rating" if ratings_count <= 1 else "ratings"}})</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="drop-shadow-lg bg-base-100 rounded-xl w-full">
            <div class="h-2 bg-accent rounded-t-xl"></div>
            <div class="p-3">
                <h3 class="text-2xl font-bold">Ingredients</h3>
                <ul class="list-disc ml-5 mt-5 text-sm md:text-base">
                    {% for ingredient in recipe.ingredients %}
                    <li class="my-2 hover:text-rose-500">{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-10 flex flex-col items-center py-5">
        <h2 class="font-bold text-2xl mb-5 text-center">{{ "Your rating on this recipe" if current_user_rating else "Give this recipe a rating"}}</h2>
        <form action="/recipe/{{recipe.id}}/rate" method="post" class="flex flex-col items-center">
            <div class="rating rating-lg">
                <input type="radio" name="rating" class="rating-hidden cursor-default" value="0" {{ "checked" if not current_user_rating }} />
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400 cursor-default" value="1" {{ "checked" if current_user_rating >= 1 }} />
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400 cursor-default" value="2" {{ "checked" if current_user_rating >= 2 }} />
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400 cursor-default" value="3" {{ "checked" if current_user_rating >= 3 }} />
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400 cursor-default" value="4" {{ "checked" if current_user_rating >= 4 }} />
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400 cursor-default" value="5" {{ "checked" if current_user_rating == 5 }} />
            </div>
            <button type="submit" class="btn btn-accent mt-5">{{ "re-rate" if current_user_rating else "rate"}}</button>
        </form>
    </div>
    <div id="instructions" class="mt-10">
        <h2 class="font-bold text-2xl mb-5">Instructions</h2>
        {% for instruction in recipe.instructions %}
        <div class="collapse collapse-plus bg-base-100 my-3 drop-shadow-lg">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">Step {{ loop.index }}</div>
            <div class="collapse-content">
                <p>{{ instruction }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}