{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="w-full grow">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <div class="toast toast-start">
                        <span class="alert alert-success">{{ message }}</span>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div id="hero-section">
        {% include "./home/hero_section.html" %}
    </div>

    <div class="w-full md:w-3/4 lg:w-1/2 mx-auto">
        {% include "./home/contents.html" %}
    </div>
    <div>
        <p>Current Users</p>
        <div>
            {% for user in users %}
            <p>{{ user.username }}</p>
            <p>{{ user.email }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}