{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="w-full grow">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <div class="toast toast-start">
                        <span class="alert alert-success text-white">{{ message }}</span>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div id="hero-section">
        {% include "./home/hero_section.html" %}
    </div>

    <div id="body" class="w-screen max-w-[2000px] mx-auto px-3 lg:px-5">
        <div id="newly-added-recipes" class="mt-10 lg:mt-20">
            {% include "./home/newly_added_recipes.html" %}
            <div class="text-center">
                <a href="/recipes" class="hover:underline text-rose-500 hover:text-blue-600">Discover all recipes ></a>
            </div>
        </div>

        <div id="top-rated-recipes" class="mt-10">
            {% include "./home/top_rated_recipes.html" %}
        </div>

    </div>
</div>
{% endblock %}