{% extends "template.html" %}

{% block title %}{{session["username"]}}{% endblock %}

{% block main %}
<div class="w-full flex flex-row justify-center gap-32">
    <div>
        <div>
            <div class="my-2">
                <p class="text-sm">Username</p>
                <p class="font-semibold">{{ session['username'] }}</p>
            </div>
            <div class="my-2">
                <p class="text-sm">Email</p>
                <p class="font-semibold">{{ email }}</p>
            </div>
        </div>
        <form action="/profile" method="post">
            <label class="form-control w-full max-w-5xl">
                <div class="label">
                    <span class="label-text">Old Password</span>
                </div>
                <input type="password" name="old_password" class="input input-bordered w-full max-w-5xl">
            </label>
            <label class="form-control w-full max-w-5xl">
                <div class="label">
                    <span class="label-text">New Password</span>
                </div>
                <input type="password" name="new_password" class="input input-bordered w-full max-w-5xl">
            </label>
            <br>
            <button type="submit" class="btn btn-accent text-slate-100">Submit</button>
        </form>
    </div>
    <div class="size-full md:size-60">
        <img src="{{ url_for('static', filename=session['user_profile_image']) }}" alt="user profile image">
    </div>
</div>
{% endblock %}