{% extends "template.html" %}

{% block title %}test{% endblock %}

{% block main %}
<div>{{data}}</div>
<form action="/test" method="post">
    <div class="rating">
        <input type="radio" name="rating" class="rating-hidden" checked="checked"/>
        <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="1" />
        <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="2" />
        <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="3" />
        <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="4" />
        <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="5" />
    </div>
    <button type="submit">submit</button>
</form>
<div class="rating rating-sm rating-half">
    <input type="radio" name="rating" class="rating-hidden cursor-default" value="0" disabled />
    <input type="radio" name="rating" class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="0.5" disabled />
    <input type="radio" name="rating" class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="1" disabled />
    <input type="radio" name="rating" class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="1.5" disabled />
    <input type="radio" name="rating" class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="2" disabled />
    <input type="radio" name="rating" class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="2.5" disabled checked="checked"/>
    <input type="radio" name="rating" class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="3" disabled />
    <input type="radio" name="rating" class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="3.5" disabled />
    <input type="radio" name="rating" class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="4" disabled />
    <input type="radio" name="rating" class="mask mask-star-2 mask-half-1 bg-orange-400 cursor-default" value="4.5" disabled />
    <input type="radio" name="rating" class="mask mask-star-2 mask-half-2 bg-orange-400 cursor-default" value="5" disabled />
</div>
{% endblock %}

