{% extends "template.html" %}

{% block title %}Create a recipe{% endblock %}

{% block main %}

    <form action="/upload" method="post" enctype="multipart/form-data" class="w-screen lg:w-[1024px] mx-auto flex flex-col gap-10 p-5 mb-10">
        <div class="flex flex-col lg:flex-row gap-5">
            <div class="w-full md:w-1/2 flex flex-col items-center">
                <!-- image -->
                <label class="form-control w-full max-w-xs mb-5">
                    <div class="label">
                        <span class="label-text">Cover Image (.png, .jpg, .jpeg)</span>
                    </div>
                    <!-- <input name="image" type="file" autocomplete="off" class="file-input file-input-bordered w-full max-w-xs" /> -->
                    <img id="recipe_image" src="{{ url_for('static', filename='/images/image_upload.jpg') }}" alt="recipe image" class="cursor-pointer object-cover w-full h-48 mx-auto rounded-xl drop-shadow-lg">
                    <input type="file" name="image" accept="image/*" id="upload_image" class="hidden">
                    <!-- <input type="button" value="Upload recipe image" id="upload_button" class="btn"> -->
                </label>

                <!-- recipe name -->
                <label class="form-control w-full max-w-xs mb-5">
                    <div class="label">
                        <span class="label-text">Recipe Name</span>
                    </div>
                    <input type="text" name="name" autocomplete="off" placeholder="Potato Salad" autofocus class="input input-bordered w-full max-w-xs">
                </label>

                <!-- cook time -->
                <label class="form-control w-full max-w-xs mb-5">
                    <div class="label">
                        <span class="label-text">Cooking Duration</span>
                    </div>
                    <label class="flex items-center gap-2">
                        <input type="number" min="0" max="24" name="hours" autocomplete="off" value="0" class="input input-bordered w-full max-w-xs"> hours
                        <input type="number" min="0" max="59" name="minutes" autocomplete="off" value="0" class="input input-bordered w-full max-w-xs"> minutes
                    </label>
                </label>

                <!-- servings -->
                <label class="form-control w-full max-w-xs mb-5">
                    <div class="label">
                        <span class="label-text">Servings</span>
                    </div>
                    <input type="number" min="1" max="100" name="servings" autocomplete="off" value="1" class="input input-bordered w-full max-w-xs">
                </label>
            </div>
            <div class="w-full md:w-1/2">
                <!-- ingredients -->
                <div class="label">
                    <span class="label-text">Ingredients</span>
                </div>
                <textarea name="ingredients" class="textarea textarea-bordered w-full h-full no-scrollbar" placeholder="4 cups of uncooked short-grain white rice&#10;5 ½ cups water, divided"></textarea>
            </div>
        </div>
        <div class="w-full">
            <!-- instructions -->
            <p>Instructions</p>
            <div id="instructions">
                <div class="mt-3" id="1">
                    <div class="label">
                        <span class="label-text group">Step 1</span>
                    </div>
                    <textarea name="step" placeholder="Wash rice in a mesh strainer until water runs clear." class="textarea textarea-bordered w-full no-scrollbar"></textarea>
                </div>
            </div>
            <!-- + and - buttons -->
            <div class="text-sm">
                <button class="p-2 bg-base-100 hover:bg-base-200 text-base-content rounded-lg mt-3" id="addstep">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                </button>
                <button class="p-2 bg-base-100 hover:bg-base-200 text-red-500 rounded-lg mt-3 ml-3" id="removestep">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>                                                    
                </button>
            </div>
        </div>
        <button type="submit" class="btn btn-accent">Upload</button>
    </form>

{% endblock %}

{% block javascript %}
        <script>

            document.addEventListener('DOMContentLoaded', () => {

                // making the textarea grows automatically
                const textareas = [...document.querySelectorAll('textarea')];
                textareas.forEach((textarea) => {
                    textarea.addEventListener('input', (e) => {
                        textarea.style.height = 'auto';
                        textarea.style.height = `${textarea.scrollHeight}px`;
                    });
                });

                // add step button function
                const addStep = document.querySelector('#addstep');
                addStep.addEventListener('click', (e) => {
                    e.preventDefault();

                    // first previousSibling is for the whitespace text node between the button and the step which is not visible
                    const previousStep = document.querySelector("#instructions").lastChild.previousSibling;
                    let current_step = parseInt(previousStep.id) + 1;

                    // create <div class="mt-3" id="{current_step}"></div>
                    const newStep = document.createElement("div");
                    newStep.classList.add("mt-3");
                    newStep.setAttribute("id", current_step);

                    // create <div class="label"></div>
                    const label = document.createElement("div");
                    label.classList.add("label");

                    // create <span class="label-text"></span>
                    const labelText = document.createElement("span");
                    labelText.classList.add("label-text");

                    // create textNode "Step {current_step}"
                    const stepText = document.createTextNode(`Step ${current_step}`);

                    // create <textarea name="step${current_step}" class="textarea textarea-bordered w-full no-scrollbar"></textarea>
                    const textareaNode = document.createElement("textarea");
                    textareaNode.setAttribute("name", 'step');
                    textareaNode.classList.add("textarea","textarea-bordered", "w-full", "no-scrollbar");

                    // makes the textarea grows automatically
                    textareaNode.addEventListener('input', (e) => {
                        textareaNode.style.height = 'auto';
                        textareaNode.style.height = `${textareaNode.scrollHeight}px`;
                    });

                    // append all nodes to create a single element
                    labelText.appendChild(stepText);
                    label.appendChild(labelText);
                    newStep.appendChild(label);
                    newStep.appendChild(textareaNode);

                    // add the element to the DOM
                    previousStep.after(newStep);

                });

                // remove step button function
                let removeStep = document.querySelector('#removestep');
                removeStep.addEventListener('click', (e) => {
                    e.preventDefault();

                    // first previousSibling is for the whitespace text node between the button and the step which is not visible
                    const lastStep = document.querySelector("#instructions").lastChild.previousSibling;
                    
                    // make step 1 can't be removed
                    if (lastStep.id != '1') {
                        lastStep.remove();
                    }
                })

            });

            // Image upload preview handler
            let profile = document.querySelector('#recipe_image');
            document.querySelector("#upload_image").addEventListener('change', (e) => {
                profile.src = URL.createObjectURL(e.target.files[0])
            });
        
        </script>
    {% endblock %}